---
import BuildInfo from "../layouts/BuildInfo.astro";
import Layout from "../layouts/Layout.astro";
import SocialNetworks from "../layouts/SocialNetworks.astro";
---

<Layout title="elpekenin - Desarrollador">
    <main>
        <SocialNetworks />
    </main>
    <footer>
        <BuildInfo />
    </footer>
</Layout>

<style>
    main {
    }
    footer {
        bottom: 0;
        font-size: calc(max(3vh, 20px));
        justify-content: center;
        margin: auto;
        position: fixed;
        text-align: center;
        width: 100%;
    }
</style>
