---
import Layout from '../layouts/Layout.astro';
import SocialHeader from '../layouts/SocialHeader.astro'
---

<Layout title="elpekenin - Desarrollador">
	<main>
		<SocialHeader />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
