---
import Layout from "../layouts/Layout.astro";
---

<Layout title="elpekenin - Desarrollador">
    <main>
        Aquí pondría mi contenido... Si tuviera alguno!!
    </main>
</Layout>

<style>
    main {
        font-size: 50px;
    }
</style>
