---
import Layout from "../layouts/Layout.astro";
---

<Layout title="elpekenin - Desarrollador">
    <main>
        <div class="text-palette-text">🌐 Dónde buscar info de PokemonGO</div><hr>

        <ol class="py-3 px-5">
            <li><b>Ver si una especie de Pokemon es buena en PvP</b><br>
            - <a href="https://pvpoke.com/rankings/" target="_blank">https://pvpoke.com/rankings/</a> <i>(tiene muchas herramientas para PvP, como simulador de combates)</i></li>

            <li class="mt-10"><b>Ver si los iv de tu Pokemon son buenos pa PvP</b><br>
            - <i>Calcy/Pokegenie/Alguna otra calculadora de IV en el móvil</i><br>
            - <a href="https://www.stadiumgaming.gg/rank-checker" target="_blank">https://www.stadiumgaming.gg/rank-checker</a> <i>(más completa pero más difícil de usar)</i></li>

            <li class="mt-10"><b>Consultar mejores counter para una raid</b><br>
            - <a href="https://www.pokebattler.com/raids" target="_blank">https://www.pokebattler.com/raids</a> <i>(complicada de aprender a usar pero muy útil)</i></li>

            <li class="mt-10"><b>Comprobar DPS/TDO (ver mejores Pokemon de cada tipo)</b><br>
            - <a href="https://gamepress.gg/pokemongo/comprehensive-dps-spreadsheet" target="_blank">https://gamepress.gg/pokemongo/comprehensive-dps-spreadsheet</a></li> <br>

            <li class="mt-5 list-none"><b>⚠ Otra info se puede buscar en Reddit, Gamepress o alguna otra web</b></li>
        </ol>
    </main>
</Layout>

<style>
    a {
        text-decoration: underline;
    }
    main {
        font-size: calc(max(15px, 2vh));
    }
</style>

