---
import { Icon } from 'astro-icon'

export interface Props {
	href: string;
	icon: string;
	width?: string;
	color?: string;
}

const { href, icon, width, color } = Astro.props;

let   _width = width ? width : "50px";
const _color = color ? color : "";
---

<div class="icon-container">
	<a href={href}>
		<Icon 
			name={icon}
			width={_width}
			class="my-icon"
		/>
	</a>
</div>


<style define:vars={{color: _color}}>
	.my-icon {
		color: black;
		padding: 2px;
	}
	.icon-container {
		border: transparent;
		border-radius: 8px;
	}
	.icon-container:hover{
		background: #485563;
		background: -webkit-linear-gradient(to right, #29323c, #485563);
		background: linear-gradient(to right, #29323c, #485563);
	}
	.icon-container:hover .my-icon {
		color: var(--color);
	}
</style>
