---
import { Icon } from "astro-icon"

export interface Props {
    color: string;
    href: string;
    icon: string;
    width: string;
}

const { color, href, icon, width } = Astro.props;
---

<div>
    <a href={href}>
        <Icon 
            class="social-icon"
            name={icon}
            width={width}
        />
    </a>
</div>


<style define:vars={{color}}>
    div {
        border-radius: 20%;
        display: flex;
    }
    div:hover{
        background: black;
    }
    div:hover .social-icon {
        color: var(--color);
    }
    .social-icon {
        color: white;
        padding: calc(min(0.5vw, 8px));
    }
</style>
