---
import { Icon } from 'astro-icon'

export interface Props {
	href: string;
	icon: string;
	width?: string;
	color?: string;
}

const { href, icon, width, color } = Astro.props;

const _width = width ? width : "50px";
const _color = color ? color : "black";
---

<div class="icon-container">
	<a href={href}>
		<Icon 
			name={icon}
			width={_width}
			class="social-icon"
		/>
	</a>
</div>


<style define:vars={{color: _color}}>
	.social-icon {
		color: black;
		padding: 10px;
	}
	div {
		border-radius: 50%;
	}
	.icon-container:hover{
		background: #C9D6FF;
		background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
		background: linear-gradient(to right, #E2E2E2, #C9D6FF);
	}
	.icon-container:hover .social-icon {
		color: var(--color);
	}
</style>
