---
import { Icon } from "astro-icon"

export interface Props {
    color: string;
    href: string;
    icon: string;
}

const { color, href, icon } = Astro.props;
---

<div>
    <a href={href}>
        <Icon 
            class="mdi-icon"
            name={icon}
        />
    </a>
</div>


<style define:vars={{color}}>
    div {
        border-radius: 20%;
        display: flex;
        margin-bottom: 0.2vh;
    }
    div:hover{
        background: black;
    }
    div:hover .mdi-icon {
        color: var(--color);
    }
</style>
