---
export interface Props {
    title: string;
    error?:  string;
}

const { title, error } = Astro.props;

let _fav_text = "";
if (error !== "true") {
    _fav_text = '\
        <link rel="icon" type="image/ico" href="favicon-dark.ico/"  media="(prefers-color-scheme: no-preference)" /> \
        <link rel="icon" type="image/ico" href="favicon-dark.ico/"  media="(prefers-color-scheme: light)" /> \
        <link rel="icon" type="image/ico" href="favicon-light.ico/" media="(prefers-color-scheme: dark)" /> ';
} else {
    _fav_text = '<link rel="icon" type="image/ico" href="404.ico" />';
}
const fav_text = _fav_text; 
---

<!DOCTYPE html>
<html lang="es">
    <head set:html={fav_text}>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
    }
    html {
        background: #283048;
        background: -webkit-linear-gradient(to right, #859398, #283048);
        background: linear-gradient(to right, #859398, #283048);
        font-family: system-ui, sans-serif;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
</style>
