---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro";

export interface Props {
    title: string;
    error?:  string;
}

const { title, error } = Astro.props;

let fav_text = "";
if (error !== "true") {
    fav_text = '\
        <link rel="icon" type="image/ico" href="/favicon-dark.ico/"  media="(prefers-color-scheme: no-preference)" /> \
        <link rel="icon" type="image/ico" href="/favicon-dark.ico/"  media="(prefers-color-scheme: light)" /> \
        <link rel="icon" type="image/ico" href="/favicon-light.ico/" media="(prefers-color-scheme: dark)" /> ';
} else {
    fav_text = '<link rel="icon" type="image/ico" href="/404.ico" />';
}
---

<!DOCTYPE html>
<html lang="es">
    <head set:html={fav_text}>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>

<style is:global>
    :root {
        --palette1: #222831;
        --palette2: #393E46;
        --palette3: #00ADB5;
        --palette4: #EEEEEE;
        --links:    #E94560;
    }
    code {
        font-family: Fira Code NF, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
    html {
        font-family: Fira Code, system-ui, sans-serif;
    }
    main {
        background: var(--palette1);
        bottom: 5%;
        color: var(--palette3);
        height: 100%;
        position: absolute;
        top: 5%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        width: 100%;
    }
    .mdi-icon {
        color: var(--palette4);
        padding: 0.5vw;
        width: 5vh;
    }
</style>
