---
import MyIcon from "../components/MyIcon.astro";
---

<nav>
    <MyIcon
        icon='mdi:github'
        color='Purple'
        href='https://github.com/elpekenin'
        client:load
    />
    <MyIcon
        icon='mdi:gmail'
        color='Crimson'
        href='mailto:elpekenin@elpekenin.dev'
        client:load
    />
    <MyIcon
        icon='mdi:twitter'
        color='Aqua'
        href=''
        client:load
    />
    <MyIcon
        icon='mdi:instagram'
        color='DarkGoldenRod'
        href=''
        client:load
    />
</nav>

<style>
    nav {
        display: flex;
        position: relative;
    }
    nav a {
        position: absolute;
        top: 50%;
    }
</style>