---
import SocialIcon from "../components/SocialIcon.astro";
---

<div id="social-header">
    <SocialIcon
        icon="mdi:github"
        color="#6e5494"
        href="https://github.com/elpekenin"
    />
    <SocialIcon
        icon="mdi:telegram"
        color=" #2AABEE"
        href="https://t.me/elpekenin"
    />
    <SocialIcon
        icon="mdi:discord"
        color="#7289da"
        href="https://discord.com/users/elpeke%C3%B1in#2234"
    />
    <SocialIcon
        icon="mdi:twitter"
        color="#1DA1F2"
        href="https://twitter.com/elpekenin_dev"
    />
    <SocialIcon
        icon="mdi:twitch"
        color="#6441a5"
        href="https://twitch.tv/elpekenin"
    />
    <SocialIcon
        icon="mdi:gmail"
        color="#ea4335"
        href="mailto:elpekenin@elpekenin.dev"
    />
</div>

<style>
    div {
        display: flex;
        justify-content: right;
    }
    div a {
        position: absolute;
        top: 50%;
    }
</style>